header li{
    list-style: none;
}
.try:visited{
    background-color: gray;
    border: 2px solid red;
    color:blue;
}
.try{
    cursor: pointer;
    text-decoration: none;
    background-color: blue;
    border: 2px solid yellow;
    color: white;
    display: block;
    width:200px;
    text-align: center;
    margin-bottom: 4px;
}
.try:hover{
    background-color: magenta;
    color: black;

}
.try:active{
    background-color: yellow;
    color: black;
    border: 2px solid gray;
}
#idfirst{
    background-color: black;
    color: white;
}
#idsecond{
    background-color: aqua;
    color: black;
}
#idthird{
    background-color: gray;
    color: blue;
}
#idfourth{
    background-color: red;
    color: brown;
    font-size: 20px;
}
#idfifth{
    background-color: pink;
    color: purple;
}
h1{
    text-align: center;
    font-size: 22px;
}
#id_w{
    font-style: italic;
}
#iddeveloper{
    text-align: center;
}
#idfirst{
    font-size: 120%;
}
#idsecond{
    font-size: 120%;
}
#idthird{
    font-size: 120%;
}
#idfourth{
    font-size: 120%;
}
#idfifth{
    font-size: 120%;
}
h1{
    font-size: 160%;
}
h3{
    font-size: 170%;
}
#id6{
    text-transform: uppercase;
}
#iddeveloper{
    font-weight: bold;
}
