h1{
    text-align: center;
    font-size: 20px;
}
h2{
    text-align: center;
}
#iduk{
    text-align: center;
    font-size: 70%
}
#idlan{
    text-align: center;
    font-size: 130%
}
#idfgh{
    text-align: center;
    font-size:160%
}
img {
    display: block;
    margin: auto;
}