ul  li:nth-child(odd) {
    background-color: gray;
}
ol :nth-child(3):hover{
    background-color: gray;
    cursor: pointer;
}
ol :nth-child(5):hover{
    background-color: gray;
    cursor: pointer;
}
ol :nth-child(4):hover{
    background-color: green;
}
h1{
    text-align: center;
    font-size: 22px;
}
#idname{
    font-style: italic;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
