body{
    background-color: #F2F2F2;
    margin: 0;
}
.wrapper{
    width: 1146px;
    margin: 0 auto;
}
/*MAIN_UL*/
ul{
    list-style: none;
}
/*MAIN_BUTTON*/
button{
    border: none;
    background: none;
}
/*TOP__HEADER*/
.top__header{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #716C80;
    font-size: 16px;
    padding: 0 10px;
}
.top__header__phonenumber{
    color: #716C80;
    text-decoration: none;
}
.top__header__phonenumber::before{
    content:"\f095";
    font-family: "FontAwesome", sans-serif;
    color: #716C80;
    width: 16px;
    height: 20px;
}
.top__header__text{
    font-family: 'Nunito', sans-serif;
}
.hr{
    border: none;
    border-bottom: 1px solid #E1E4EDCC;
}
/*BOTTOM__HEADER*/
.bottom__header{
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom__header__logo__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom__header__Logo{
    width: 40px;
    height: 40px;
}
/*bottom__header__menu*/
.bottom__header__menu{
    display: flex;
    gap: 30px;
}
.bottom__header__menu__items{
    position: relative;
    font-size: 16px;
    height: 21px;
    color: #5B5766;
    font-family: 'Nunito', sans-serif;
}
.bottom__header__menu__link{
    color: #5B5766;
    text-decoration: none;
}
/*DROPDOWN__MENU*/
.dropdown__menu{
    position: absolute;
    display: none;
    padding: 16px;
}
.dropdown__items{
    color: #554D89;
    font-weight: 400;
    font-size: 16px;
    padding: 8px;
    cursor: default;
}
.dropdown__items:hover{
    font-weight: 700;
}
/*HOVER*/
.bottom__header__menu__link:hover{
    color: #554D89;
    font-size: 16px;
    font-weight: 700;
}
.bottom__header__menu__items:hover .dropdown__menu{
    z-index: 1;
    display: block;
    width: 235px;
    height: 205px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px #E1E4ED;
    left: -60px;
    padding: 16px;
}

/*HEADER__ACTION*/
/*BUTTON_HEADER*/
.btn_light{
    color: #6852ED;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #6852ED;
    border-radius: 40px;
    height: 40px;
}
.btn_login{
    margin: 0 8px 0 0;
    width: 73px;
    height: 40px;
}
.btn_Create_account{
    margin: 0 0 0 8px;
    width: 150px;
    height: 40px;
}
/*HERO_CONTENT + IMAGE*/
.Hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Hero_content{

    Width: 625px;
    Height: 616px;
}
.Hero_content_text{
    padding-top: 100px;
}
.Hero_img{
    display: flex;
    flex-wrap: wrap;
    Width: 796px;
    Height: 800px;
}
.hero__img{
    padding-top: 100px;
}
.h1{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #554D89;
    width: 360px;
    height: 120px;
}
.Hero_p{
    width: 360px;
    height: 66px;
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #5B5766;
}
/*HERO_BUTTON*/
.Hero__btn{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.btn_dark{
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    width: 153px;
    height: 50px;
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    border-radius: 40px;
    margin: 0 30px 0 0;
}
.link_btn{
    color: #554D89;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.link_btn::after{
    content: "\f178";
    font-family: "FontAwesome", sans-serif;
    color: #554D89;
    width: 18px;
    height: 20px;
    font-size: 13px;
    margin: 0 0 0 15px;
}
.Hero__btn__bottom{
    background-color: #6852ED;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    color: white;
    border: none;
    font-size: 50px;
    margin-top: -40px;
    margin-left: 25px;
}
/*TOP_BLOCKS*/
.top_blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 230px;
    margin-top: 50px;
    padding: 0 10px;
}
.light_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    width: 360px;
    height: 230px;
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 20px #E1E4ED;
    border-radius: 10px;
}
.top_blocks h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #554D89;
}
.top_blocks p{
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #716C80;
}
/*TOP_BLOCKS_HOVER*/
.light_block:hover{
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    box-shadow: 0 0 20px rgba(104, 82, 237, 0.8);
    border-radius: 10px;
}
.light_block:hover .light_block_h2{
    color: #FFFFFF;
}
.light_block:hover .light_block_p{
    color: #FFFFFF;
}
.light_block:hover .btn_Read_more{
    color: #FFFFFF;
}
.light_block:hover .link_btn::after{
    color: #FFFFFF;
}
.light_block:hover i{
    color: #FFFFFF;
}
/* FIRST SPLIT BLOCK*/
.split_f{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}
.split_f_content{
    padding: 50px;
}
.spf_h2{
    color: #554D89;
    font-size: 28px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.spf_text{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #716C80;
}
/*SP_F_BUTTON*/
.btn_get_started{
    font-weight: 400;
}/*VIDEO*/
.video{background-color: #ece9ef;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.video_content{
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play_btn{
    margin: 0;
}
.video_h2{
    margin: 0 0 10px 0;
    font-family: "Poppins", sans-serif;
    color: #554D89;
    font-size: 28px;
    font-weight: 700;
}
.video_text{
    font-family: 'Nunito', sans-serif;
    color: #5B5766;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.video_text_2{
    font-family: 'Nunito', sans-serif;
    color: #5B5766;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
/*SPLIT_SECOND*/
.split_s{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
.split_s_h2{
    color: #554D89;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}
.split_s_p{
    color: #716C80;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
/*BOTTOM BLOCKS*/
.bot_blocks_2{
    display: flex;
    width: 1140px;
    height: 550px;
    margin-top: 80px;
    padding: 0 10px;
}

.bot_blocks_2 h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #554D89;
}
.bot_blocks_2 p{
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #716C80;
}
.bot_sections_blocks{
    display: flex;
    flex-direction: column;
}
.bot_sections_blocks_2{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.bot_sections_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    height: 303px;
    padding-left: 30px;
}
.bot_sections_h2{
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
}
.bot_sections_p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

/*SKILS*/
.skils{
    display: flex;
    flex-direction: row;
    margin-top: 140px;
}
.skils_text{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 30px;
}
.skils_h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #554D89;
}
.skils_p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #716C80;
    margin: 30px 0 60px;
}
.skils_btn{
    width: 220px;
    height: 50px;
}
.main_progres_block{
    width: 100%;
}
.progres_block{
    background-color: #E1E4ED;
    height: 6px;
}
.progres_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5B5766;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.progres_bar_1{
    height: 6px;
    width: 96%;
    background-color: #554D89;
}

.progres_bar_2{
    height: 6px;
    width: 81%;
    background-color: #554D89;
}

.progres_bar_3{
    height: 6px;
    width: 90%;
    background-color: #554D89;
}

.progres_bar_4{
    height: 6px;
    width: 88%;
    background-color: #554D89;
}
/*CALL ACTION*/
.main_call_action{
    display: flex;
    height: 170px;
    margin-top: 140px;
    background-image: url("../images/Bg.png");
    align-items: center;
    justify-content: center;
}
.call_action{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.call_action_h3{
    color: #554D89;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.call_action_btn{
    padding: 10px 25px;
    width: 125px;
}
/*DONATE BLOCKS*/
.main_donate_blocks{
display: flex;
}
.donate_block {
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 #E1E4ED;
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 360px;
    margin: 140px 30px 0 0;
    border-radius: 17px;
}
.donate_block_2{
    border-radius: 17px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 #E1E4ED;
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 360px;
    margin-top: 140px;
}
.donate_block_3{
    border-radius: 17px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 #E1E4ED;
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 360px;
    margin: 140px 0 0 30px;

}
.h3_donate{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #554D89;
}
.p1_donate{
    text-decoration-line: overline;
    margin: 0;
    color: #554D89;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.p2_donate{
    color: #5B5766;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.p3_donate{
    border-radius: 20px;
    background-color: #E1E4ED99;
    color: #EF7171;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    text-align: center;
    padding: 10px;
    margin-left: 80px;
}
.ul_donate{
    color: #716C80;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 0;
    margin-top: 50px;
    list-style: url("../images/check-solid.svg");
}
.li_donate{
    margin: 10px 0;
}
.donate_block .ul_donate li:nth-child(4){
    opacity: 80%;
    list-style: url("../images/xmark-solid.svg");
}
.donate_block .ul_donate li:nth-child(5){
    opacity: 80%;
    list-style: url("../images/xmark-solid.svg");
}
.donate_block_2 .ul_donate li:nth-child(5){
    list-style: url("../images/xmark-solid.svg");
    opacity: 80%;
}
.btn_Getting_started{
    margin-top: 50px;
}
/*SUPPORT*/
.support{
    display: flex;
    flex-direction: row;
    margin: 140px 0 120px;
    gap: 30px;
}
.sup_block_1{
    padding: 10px;
}
.h3_sup{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #554D89;
}
.p_sup{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #716C80;
}
.sup_block_2{
    padding: 10px;
}
.h3_sup2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #554D89;
}
.p_sup2{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #716C80;
}
/*FOOTER*/
.main_footer{
    background-image: url("../images/Bgf.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
.footer{
    display: flex;
    padding-top: 70px;
}
/*CONTACTS*/
.contacts{
    color: #FFFFFF;
    width: 360px;
}
.headphone{
    display: flex;
    align-items: center;
}
.headphone_img{
    width: 50px;
    height: 42px;
}
.headphone_text{
    margin-left: 10px;
}
.contacts_h4 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
 }
.contacts_p1{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
.contacts_p2{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
}
.contacts_p3{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.contacts_p4{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
/*LINKS*/
.main_links{
    color: #554D89;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 135px;
}
.links{
    display: flex;
}
.links_h4{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #554D89;
}
.links_sector_1{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.links_sector_2{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.links_a{
    text-decoration: none;
    margin: 5px 0 ;
}
.ft_bar{
    margin-top: 50px;
    Width: 99px;
    Height: 4px;
    background-color: #E1DCFF;
}
/*SUBSCRIBE*/
.subscribe{

}
.subscribe_h4{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #554D89;
}
.search-container {
    position: relative;
    display: inline-block;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    padding: 4px;
    cursor: pointer;
}
.search-icon img {
    width: 100%;
    height: auto;
}
.search-input {
    padding-right: 30px;
    border: 1px solid #6852ED;
    width: 299px;
    height: 50px;
    border-radius: 25px;
    padding-left: 10px;
}
.search-input:focus {
    border-color: #6852ED;
    outline: none;
    width: 299px;
    height: 50px;
    border-radius: 25px;
    padding-left: 10px;
}
.subscribe_p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #716C80;
}
/*ELIPSO*/
.elipso{
    display: flex;
    flex-direction: column;
    align-items: center;
}
