#id5{
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
 }
#id5:visited{
    color: yellow;
    background-color: black;
}
#id5:link{
 background-color: fuchsia;
 color: blue;
 }
#id5:hover{
    color:red;
    background-color: darkblue;
}
#id5:active{
    background-color: black;
    color: orange;
}
.firstblock{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    width: 100%;
    background-color: green;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin: 5px;
}
.secondblock{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: orange;
    margin: 5px;
}
.thirdblock{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: darkblue;
    margin: 5px;
}
.fourblock{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: blueviolet;
    margin: 5px;
}
.firstblock h3{
    border: 2px solid black;
    border-left: 0;
    border-bottom: 0;
    background-color: blue;
    width: 55px;
    color: darkred;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0;
}
.secondblock h3{
    border: 2px solid black;
    border-left: 0;
    border-bottom: 0;
    background-color: mediumspringgreen;
    border-radius: 5px;
    width:75px ;
    padding: 5px;
    color: black;
    margin-bottom: 0;
}
.thirdblock h3{
    border: 2px solid black;
    border-left: 0;
    border-bottom: 0;
    background-color: saddlebrown;
    border-radius: 5px;
    width:85px ;
    padding: 5px;
    color: greenyellow;
    margin-bottom: 0;
}
.fourblock h3{
    border: 2px solid black;
    border-left: 0;
    border-bottom: 0;
    background-color: darkslategray;
    border-radius: 5px;
    width:120px ;
    padding: 5px;
    color: aqua;
    margin-bottom: 0;
}
.zagolovku{
    font-family: 'Kenia', cursive;
}
.mainblock h3{
    font-family: 'La Belle Aurore', cursive;
}
.mainblock p, ul, li, th, td{
    font-family: 'Zen Dots', cursive;
}
table{
    border: 2px solid red;
    margin-top: 2px;
}
th{
    background-color: mediumspringgreen;
    border: 2px solid red;
}
td{
    background-color: yellow;
    border: 2px solid black;
}

#id1{
    font-size: 120%;
}
#id2{
    font-size: 120%;
}
#id3{
    font-size: 120%;
}
#id4{
    font-size: 120%;
}
p{
    color: fuchsia;
}
table{
    color: deeppink;
}
ol{
    color: black;
}
.mainblock{
    width: 100%;
    display: flex;
}
.item{
    display: flex;
}
img{
    margin-left: 5px;
    margin-top: 5px;
    width: 290px;
}
@media (min-width: 1200px){
    .col-lg-3{
        width: 25%;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .mainblock{
        flex-wrap: wrap;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-12{
        width: 100%
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .mainblock{
        flex-wrap: wrap;
    }
    .col-sm-6{
        width: 50%;
    }
}
@media (max-width: 768px){
    .mainblock{
        flex-direction: column;
    }
    .col-xs-12{
        width: 100%;
    }
}
